.container {
    margin-bottom: 100px;
}

.bg-banner{
    background-color: #FBE7E8;
}

.carousel-item{
    padding: 0px 40px;
}

.price {
    color: #FF136F;
    margin-bottom: 20px;
    font-size: 40px;
}

.price-button {
    background-image: linear-gradient(to bottom, #FF4B93, #FF1872);
    color: #fff;
    padding: 7px 14px;
    border: none;
    font-weight: 500;
    border-radius: 5px;
}